@page
@model DLNAModel
@{
}

<h2>Ustawienia serwera DLNA</h2>

<h3>Dane serwera</h3>
<div class="row">
    <div class="col-xs-2">Plików wideo: </div>
    <div class="col-xs-offset-2">@Model.Data.VideoCount </div>
</div>

<div class="row">
    <div class="col-xs-2">Plików audio: </div>
    <div class="col-xs-offset-2">@Model.Data.AudioCount </div>
</div>

<div class="row">
    <div class="col-xs-2">Zdjęć: </div>
    <div class="col-xs-offset-2">@Model.Data.PhotosCount </div>
</div>

<form method="post" autocomplete="on" class="container" novalidate>
    <div style="margin-top:3%;">
        <ul class="row">
            <li>
                <div class="col-xs-8"> Ściezki wideo: </div><br />
                <ul>
                    @for (int i = 0; i < Model.Data.VideoPaths.Count() - 1; i++)
                    {
                        <li>
                            <div>
                                @Html.DisplayFor(x =>  x.Data.VideoPaths[i].Value)
                                @Html.HiddenFor(x =>  x.Data.VideoPaths[i].ID)
                                <button type="submit" asp-page-handler="VDelete" style="margin: 2px; margin-left: 5%" asp-route-id="@Model.Data.VideoPaths[i].ID" class="btn btn-xs btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;
                                </button>

                            </div>
                        </li>
                    }
                    <li>
                        <div>
                            <span style="height: 25px; width: 8%;  padding-top:2px" placeholder="Path">
                                @Html.TextBoxFor(x =>  x.Data.VideoPaths[Model.Data.VideoPaths.Count() - 1].Value)
                                @Html.HiddenFor(x =>  x.Data.VideoPaths[Model.Data.VideoPaths.Count() - 1].ID)
                            </span>
                            <input type="submit" asp-page-handler="AddV" class="btn btn-primary" style="margin-top:2px; margin-left: 1%; height: 25px; padding-top:2px" value="dodaj" />

                        </div>
                    </li>
                </ul>
                <br />
            </li>

            <li>
                <div class="col-xs-2">Ściezki audio: </div><br />
                <ul>
                    @for (int i = 0; i < Model.Data.AudioPaths.Count() - 1; i++)
                    {
                        <li>
                            @Html.DisplayFor(x =>  x.Data.AudioPaths[i].Value)
                            @Html.HiddenFor(x =>  x.Data.AudioPaths[i].ID)

                            <button type="submit" asp-page-handler="ADelete" style="margin: 2px; margin-left: 5%" asp-route-id="@Model.Data.AudioPaths[i].ID" class="btn btn-xs btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>&nbsp;
                            </button>
                        </li>
                    }
                    <li>
                        <div>
                            <span style="height: 25px; width: 8%;  padding-top:2px" placeholder="Path">
                                @Html.TextBoxFor(x =>  x.Data.AudioPaths[Model.Data.AudioPaths.Count() - 1].Value)
                                @Html.HiddenFor(x =>  x.Data.AudioPaths[Model.Data.AudioPaths.Count() - 1].ID)
                            </span>
                            <input type="submit" asp-page-handler="AddA" class="btn btn-primary" style="margin-top:2px; margin-left: 1%; height: 25px; padding-top:2px" value="dodaj" />

                        </div>
                    </li>
                </ul>
                <br />
            </li>

            <li>
                <div class="col-xs-8">Ściezki do zdjęć: </div><br />
                <ul>
                    @for (int i = 0; i < Model.Data.PhotosPaths.Count() - 1; i++)
                    {
                        <li>
                            @Html.DisplayFor(x => Model.Data.PhotosPaths[i].Value)
                            @Html.HiddenFor(x => Model.Data.PhotosPaths[i].ID)

                            <button type="submit" asp-page-handler="PDelete" style="margin: 2px; margin-left: 5%" asp-route-id="@Model.Data.PhotosPaths[i].ID" class="btn btn-xs btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>&nbsp;
                            </button>
                        </li>
                    }
                    <li>
                        <div>
                            <span style="height: 25px; width: 8%;  padding-top:2px" placeholder="Path">
                                @Html.TextBoxFor(x =>  Model.Data.PhotosPaths[Model.Data.PhotosPaths.Count() - 1].Value)
                                @Html.HiddenFor(x => Model.Data.PhotosPaths[Model.Data.PhotosPaths.Count() - 1].ID)
                            </span>
                            <input type="submit" asp-page-handler="AddP" class="btn btn-primary" style="margin-top:2px; margin-left: 1%; height: 25px; padding-top:2px" value="dodaj" />

                        </div>
                        <br />
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    @Html.HiddenFor(x => x.Data.AudioCount)
    @Html.HiddenFor(x => x.Data.VideoCount)
    @Html.HiddenFor(x => x.Data.PhotosCount)


    @for (int i = 0; i < Model.Data.AudioPaths.Count; i++)
    {
        @Html.HiddenFor(x =>  x.Data.AudioPaths[i].ID)
        @Html.HiddenFor(x =>  x.Data.AudioPaths[i].Value)

    }
    @for (int i = 0; i < Model.Data.PhotosPaths.Count; i++)
    {
        @Html.HiddenFor(x =>  x.Data.PhotosPaths[i].ID)
        @Html.HiddenFor(x =>  x.Data.PhotosPaths[i].Value)

    }
    @for (int i = 0; i < Model.Data.VideoPaths.Count; i++)
    {
        @Html.HiddenFor(x =>  x.Data.VideoPaths[i].ID)
        @Html.HiddenFor(x =>  x.Data.VideoPaths[i].Value)

    }
    <div class="container">
        <input type="submit" id="something" asp-page-handler="SaveDLNAConf" style="margin-top:15px" class="btn btn-primary col-sm-offset-3" value="  Zapisz  ">
    </div>

</form>
